<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual log</title>
</head>
<body>
    <h1>Plant Watering Log</h1>
    <div>
        <form action = "/waterlog/log-created/" method="POST">
            {% csrf_token %}
            <label for="plant-name">Choose your plant's name</label>
            <select name = "plant-name" id = "plant-name" required>
                {% for plant in plant_list %}
                <option value="{{plant}}">{{plant}}</option>
                {% endfor %}
            </select>
            <label for="watered-at">Watered at</label>
            <input type="date" id = "watered-at" name = "watered-at">
            <input type="hidden" name="action" value="log_existing">
            <input type="submit" class="btn02" value="submit log"/>
        </form>
    </div>
    <div>
        <form action = "/waterlog/log-created/" method="POST">
            {% csrf_token %}
            <label for="name">Name your new plant!</label>
            <textarea rows = "1" id="name" name="name" placeholder="plant's name"></textarea>
            <label for="new_watered">Watered at</label>
            <input type="date" id = "new_watered" name = "new_watered">
            <input type="hidden" name="action" value="log_new">
            <input type="submit" class="btn02" value="log new plant"/>
        </form>
    </div>
</body>
</html>