<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual log</title>
</head>
<body>
    <h1>Plant Watering Log</h1>
    <div>
        <!-- Form for logging watering to an existing plant -->
        <form action="/waterlog/log-created/" method="POST">
            {% csrf_token %}
            <label for="plant-name">Choose your plant's name:</label>
            <select name="plant_name" id="plant-name" required>
                {% for plant in plant_list %}
                <option value="{{ plant.name }}">{{ plant.name }}</option>
                {% endfor %}
            </select>
            <label for="watered-at">Watered at:</label>
            <input type="date" id="watered-at" name="watered_at">
            <input type="hidden" name="action" value="log_existing">
            <input type="submit" class="btn02" value="Submit Log"/>
        </form>
    </div>
    <div>
        <!-- Form for adding a new plant and logging its first watering -->
        <form action="/waterlog/log-created/" method="POST">
            {% csrf_token %}
            <label for="name">Name your new plant:</label>
            <textarea rows="1" id="name" name="plant_name" placeholder="Plant's name" required></textarea>
            <label for="new_watered">Watered at:</label>
            <input type="date" id="new_watered" name="watered_at">
            <input type="hidden" name="action" value="log_new">
            <input type="submit" class="btn02" value="Log New Plant"/>
        </form>
    </div>
</body>
</html>
